<div class="for_info_only" style="text-align: center">
</div>


<p>
This mission uses a 4x4 grid. Each square is numbered from 1 to 16 in row-major order.<br>
You are given 4 numbers
{% if interpreter.slug == "js-node" %}
(list of integer).
{% else %}
(set of integer).
{% endif %}
These numbers represent the position of the square on the grid and one block if all the squares are adjacent.
</p>
<p>
You have to identify the kind of block. (Refer to the following image or comment of initial code for the kind of block).<br>
The answer is an upper case alphabet ('I', 'J', 'L', 'O', 'S', 'T' or 'Z'). If it isn't a block then return 
{% if interpreter.slug == "js-node" %}
null.
{% else %}
None.
{% endif %}
</p>
<p>
The block is placed anywhere on the grid and can be rotated (0, 90, 180 or 270 degrees).
</p>

<p style="text-align: left;"><img src="{{MEDIA}}grid_and_7blocks.png" style="max-height: 182px;"></p>

<p><strong>Input: </strong>4 numbers 
{% if interpreter.slug == "js-node" %}
(list of integer)
{% else %}
(set of integer)
{% endif %}
</p>

<p><strong>Output: </strong>kind of the block (an alphabet or 
{% if interpreter.slug == "js-node" %}
        null
{% else %}
        None
{% endif %}
)</p>

<div class="for_info_only">
    <p>
        <strong>Example:</strong>
    </p>

{% if interpreter.slug == "js-node" %}
<pre class="brush: python">identifyBlock([1, 2, 3, 4]) === 'I'
identifyBlock([1, 2, 3, 6]) === 'T'
identifyBlock([1, 5, 6, 10]) === 'S'
</pre>
{% else %}
<pre class="brush: python">identify_block({1, 2, 3, 4}) == 'I'
identify_block({1, 2, 3, 6}) == 'T'
identify_block({1, 5, 6, 10}) == 'S'
</pre>
{% endif %}
<p style="text-align: left;"><img src="{{MEDIA}}example.png" style="max-height: 234px;"></p>

<p>
<strong>How it is used:</strong><br>
Creating a tetromino puzzle.
</p>

<p>
<strong>Precondition:</strong><br>
</p>
<ul>
    <li> len(input) == 4</li>
    <li> all(1 <= num <= 16 for num in input)</li>
    <li> output in ('I', 'J', 'L', 'O', 'S', 'T', 'Z',
{% if interpreter.slug == "js-node" %}
        null
{% else %}
        None
{% endif %}
)
    </li>
</ul>
</div>
